*:focus
{
	outline: 0px;
}

body {
    background : white;
    color : black;
}

form
{
	width: 100%;
}

.input {
	border-radius: 10px;
	border: 1px solid grey;
	height: 70px;
	width: 80%;
	font-size: 30px;
}

input[type=submit]{
	width: 30%;
	font-size: 30px;
}

.textarea
{
	height: 200px;
}

.form-group
{
	width: 100%;
}